[Desktop Entry]
Name=VPN Tunnel Control
Comment=Start and stop the VPN tunnel route
Exec=select-route
Icon=network-vpn-symbolic
Terminal=false
Type=Application
Categories=Network;Utility;
StartupNotify=true
